*{
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
}
.name{
    font-size: 8rem;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    background-image: url('simple-blue-background-free-vector.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    /* background-position: center; */
    color: white;
    font-weight: bolder;
    /*  */
    align-items: center;
    justify-content: center;
    align-self: center;
    
    width: 100vw;
}
.btn a{
    text-decoration: none;
}
button{
    display: flex;
    flex-wrap: wrap;
    height: 5vh;
    width: 8vw;
    padding: 2px 3px;
    margin: 2rem 1rem;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    font-weight: bolds;
    font-size: 1rem;
    color: white;
    background-color: skyblue;
    cursor: pointer;
    border: 2px solid wheat;
}
button:hover{
    background-color: rgb(8, 69, 100);
    transform: translateY(5px);
    box-shadow: 0px 2px 3px 6px skyblue;

}
@media (max-width:800px) and (min-width:300px){
    .name{
        font-size: 4rem;
    }
    button{
        width: 30vw;
        height: 6vh;
    }
}

@media (max-width:295px){
    .name{
        font-size: 4rem;
    }
    .container{
        height: 114.3vh;
        width: 114.3vw;
    }
    button{
        width: 30vw;
        height: 6vh;
    }
}

.timer{
    position: absolute;
    top: 1%;
    left: 40%;
    z-index: 3;
    font-size: 2rem;
    color: rgb(130, 12, 12);
}
#quiz-section{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid red; */
    width: 80vw;
    height: 80vh;
    box-shadow: 10px 10px 5px 15px rgb(201, 201, 255);
    transform: translateY(-5px);
    backdrop-filter: blur(8px);
    z-index: 1;
    
}
h2{
   font-size: 3rem;
}
.btn2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.option{
    margin: 0.5rem;
}
li{
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: center;
    border: 2px solid rgb(180, 167, 167);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    width: 38rem;
    font-size: 2rem;
    margin: 0.5rem;
    background-image: linear-gradient(rgb(22, 129, 95), rgb(39, 177, 193) , rgb(24, 113, 112));
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.question{
    margin: 1rem;
}

.reload-button{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 35rem;
}

.progress {
    position: relative;
    width: 100%;
    height: 40px;
    background: transparent;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 3px solid #640606;
  }